<template>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Create</h1>
      </div>
      <div class="col-lg-12" v-if="errored">
        <div class="alert alert-danger">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          <a
            href="#"
            class="alert-link"
          >Alert Link</a>.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Tambah Data</div>
          <div class="panel-body">
            <form @submit.prevent="store" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input v-model="post.name" type="text" name="name" id="name" class="form-control" />
              </div>
              <div class="form-group">
                <label for="price" class="control-label">Price</label>
                <input
                  v-model="post.price"
                  type="number"
                  name="price"
                  id="price"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="quantities" class="control-label">Quantities</label>
                <input
                  v-model="post.quantities"
                  type="number"
                  name="quantities"
                  id="quantities"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for>Image</label>
                <input
                  type="file"
                  class="form-control-file"
                  name="image"
                  id="image"
                  @change="onFileChanged"
                />
                <small id="fileHelpId" class="form-text text-muted">Maksimal 1 Mb</small>
              </div>

              <div class="form-group">
                <label>Selects</label>
                <select name="category_id" class="form-control" v-model="post.category_id">
                  <option
                    v-for="item in categories"
                    :key="item.id"
                    v-bind:value="item.id"
                  >{{ item.name }}</option>
                </select>
              </div>
              <button class="btn btn-outline btn-primary">
                <span v-if="loading">
                  Saving
                  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </span>
                <span v-else>Save</span>
              </button>
            </form>
          </div>
          <div class="panel-body">{{ this.post.category }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: [],
      post: {
        image: null
      },
      errored: false,
      loading: false
    };
  },
  created() {
    this.getItem;
  },
  props: ["errors"],
  computed: {
    getItem() {
      axios
        .get("/api/v1/categories")
        .then(res => {
          this.categories = res.data.data;
        })
        .catch(err => {
          this.errored = true;
        });
    }
  },
  methods: {
    store() {
      this.loading = true;
      axios
        .post("/api/v1/products", this.post)
        .then(response => {
          this.$router.push({ name: "products.index" });
          console.log(response);
        })
        .catch(error => {
          this.errored = true;
          var self = this;
          setTimeout(function() {
            self.errored = false;
          }, 3000);
        })
        .finally(() => (this.loading = false));
    },
    onFileChanged(event) {
      var image = new FormData();
      image.append("image", event.target.files[0], event.target.files[0].name);

      this.loading = true;
      axios
        .post("/api/v1/files", image)
        .then(res => {
          this.post.image = res.data;
        })
        .catch(err => {
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>
