<template>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ this.title }}</h1>
            </div>
            <div class="col-lg-12" v-if="alert">
                <div class="alert alert-success">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Data Produk
                        <div class="pull-right">
                            <router-link
                                :to="{ name: 'products.create' }"
                                class="btn btn-default btn-xs"
                                >Tambah Data</router-link
                            >
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantities</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Images</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="(item, index) in toys"
                                        :key="index"
                                    >
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.quantities }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.category }}</td>
                                        <td>
                                            <img
                                                v-bind:src="
                                                    'upload/' + item.image
                                                "
                                                class="v-thumbnail"
                                            />
                                        </td>
                                        <td>{{ item.created_at }}</td>
                                        <td>
                                            <router-link
                                                :to="{
                                                    name: 'products.edit',
                                                    params: { id: item.id }
                                                }"
                                                class="btn btn-primary btn-circle"
                                            >
                                                <i class="fa fa-pencil"></i>
                                            </router-link>
                                            <a
                                                href
                                                v-on:click.prevent="
                                                    deleteItem(item.id)
                                                "
                                                class="btn btn-danger btn-circle"
                                            >
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        //
    },
    created() {
        this.getItem;
    },
    data() {
        return {
            title: "Produk",
            toys: [],
            no: 1,
            alert: false,
            search: ""
        };
    },
    methods: {
        deleteItem(id) {
            var status = confirm("Are you sure ?");

            if (status) {
                var url = `/api/v1/products/${id}`;
                axios
                    .delete(url)
                    .then(response => {
                        let index = this.toys.findIndex(toys => toys.id == id);
                        this.toys.splice(index, 1);
                        this.alert = true;

                        var self = this;
                        setTimeout(function() {
                            self.alert = false;
                        }, 3000);
                    })
                    .catch(err => {
                        console.error(err);
                    });
            }
        }
    },
    computed: {
        getItem() {
            axios
                .get("/api/v1/products")
                .then(res => {
                    this.toys = res.data.data;
                })
                .catch(err => {
                    console.error(err);
                });
        }
    }
};
</script>

<style lang="css">
.v-thumbnail {
    width: 100px;
}
</style>
