<template>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Tambah Kategori</h1>
      </div>
      <div class="col-lg-12" v-if="errored">
        <div class="alert alert-danger">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          <a
            href="#"
            class="alert-link"
          >Alert Link</a>.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Tambah Data</div>
          <div class="panel-body">
            <form @submit.prevent="store">
              <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input v-model="item.name" type="text" name="name" id="name" class="form-control" />
              </div>
              <button class="btn btn-outline btn-primary">
                <span v-if="loading">
                  Saving
                  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </span>
                <span v-else>Save</span>
              </button>
            </form>
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      item: {},
      errored: false,
      loading: false
    };
  },
  methods: {
    store() {
      this.loading = true;
      axios
        .post("/api/v1/categories", this.item)
        .then(response => {
          this.$router.push({ name: "categories.index" });
          console.log(response);
        })
        .catch(error => {
          this.errored = true;
          var self = this;
          setTimeout(function() {
            self.errored = false;
          }, 3000);
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>
