<template>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Kategori</h1>
      </div>
      <div class="col-lg-12" v-if="success">
        <div class="alert alert-success">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          <a
            href="#"
            class="alert-link"
          >Alert Link</a>.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Data Produk
            <div class="pull-right">
              <router-link
                :to="{ name: 'categories.create' }"
                class="btn btn-default btn-xs"
              >Tambah Data</router-link>
            </div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in categories" :key="index">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                      <router-link
                        :to="{name: 'categories.edit', params: {id: item.id}}"
                        class="btn btn-primary btn-circle"
                      >
                        <i class="fa fa-pencil"></i>
                      </router-link>
                      <a
                        href
                        v-on:click.prevent="deleteItem(item.id)"
                        class="btn btn-danger btn-circle"
                      >
                        <i class="fa fa-times"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    //
  },
  created() {
    this.getItem;
  },
  data() {
    return {
      categories: [],
      no: 1,
      success: false
    };
  },
  methods: {
    deleteItem(id) {
      var status = confirm("Are you sure ?");

      if (status) {
        var url = `/api/v1/categories/${id}`;
        axios
          .delete(url)
          .then(response => {
            let index = this.categories.findIndex(
              categories => categories.id == id
            );
            this.categories.splice(index, 1);
            this.success = true;

            var self = this;
            setTimeout(function() {
              self.success = false;
            }, 3000);
          })
          .catch(err => {
            console.error(err);
          });
      }
    }
  },
  computed: {
    getItem() {
      axios
        .get("/api/v1/categories")
        .then(res => {
          this.categories = res.data.data;
        })
        .catch(err => {
          console.error(err);
        });
    }
  }
};
</script>